{% extends "base.html" %}
{% load static %}
{% load post_read_time %}

{% block title %}Tomar.com - Read and share stories{% endblock %}

{% block content %}

<div class="container hero">
  <div class="row flex-lg-row g-5 px-md-5 py-5">
    <div class="col-lg-7 py-5">
      <h2 class="display-5 fw-bold lh-1 mb-3">
        Read and share your ideas with others
      </h2>
      <p class="lead">
        Read stories from your fellows, share your ideas and
        build a community that grow together.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="#" class="btn btn-outline-primary btn-lg px-4 me-md-2">Join now</a>
      </div>
    </div>
    <div class="col-lg-5 d-none d-lg-block">
      <div class="landing-img px-4">
        <img src="{% static 'images/blog/landing_right.jpg' %}" class="rounded" alt="Laptop near white open Book">
      </div>
    </div>
  </div>
</div>

<section class="pb-5 pt-lg-5 my-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-3">
          <div class="mb-3 mb-lg-4 text-secondary"><i class="fa-solid fa-list fa-2x"></i></div>
          <h3>Share Ideas</h3>
          <p class="lead mb-0">Publish stories about your thoughts, experiences and tutorials which will help others.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="d-flex flex-column justify-content-center mx-auto mb-5 mb-lg-3">
          <div class="mb-3 mb-lg-4 text-secondary"><i class="fa-solid fa-users fa-2x"></i></div>
          <h3>Community</h3>
          <p class="lead mb-0">Support multiple users. Any user with an account can write posts, manage posts, follow
            and be follwed.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-0 mb-lg-3">
          <div class="mb-3 mb-lg-4 text-secondary"><i class="fa-solid fa-book-open fa-2x"></i></div>
          <h3>Read Stories</h3>
          <p class="lead mb-0">Read stories written by other users and save your favorite one for later reading.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-7 mx-auto">
      <h2 class="mb-4">Recommended</h2>
      {% for post in featured_posts %}
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title mb-0">
            <a href="{% url 'blog:post_detail' post.slug %}">{{ post.title|truncatechars:80 }}</a>
          </h4>
          <div class="small text-muted">
            <a href="{% url 'accounts:profile' post.author.username %}" class="author-link">{{ post.author.get_display_name }}</a>
            <a class="d-none d-md-inline category" href="{% url 'blog:category' post.category.slug %}">in
              <strong>{{ post.category }}</strong></a>
            <span>&nbsp;|&nbsp;</span>
            <span>{{ post.last_update|date:"M d" }}</span><span
              class="dot"></span><span>{{ post.content|readtime }}</span>
          </div>
          <p class="card-text mt-1 text-muted">{{ post.content|truncatechars_html:130|safe }}</p>
          <div class="d-flex justify-content-between">
            <a href="{% url 'blog:post_detail' post.slug %}" class="read-more">Read more
              <span>&rarr;</span></a>
            {% csrf_token %}
            <button class="bookmark" value="{{ post.pk }}" title="Bookmark story">
              <i class="far fa-bookmark"></i>
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-lg-4 d-none d-lg-block">
      <div class="position-sticky" style="top: 2rem">
        <div class="p-4">
          <h4>Explore categories</h4>
          <div class="d-flex flex-wrap popularcategory">
            {% for category in popular_categories %}
            <a href="{% url 'blog:category' category.slug %}"
              class="btn btn-outline-secondary m-1">{{ category.name }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container px-md-5 my-5 pb-5">
  <div class="d-flex align-items-center justify-content-center">
    <a href="{% url 'blog:post_list' %}" class="btn btn-primary fs-5" id="arrowonhover">All Stories
      <span>&rarr;</span></a>
  </div>
</div>

{% include "footer.html" %}
{% endblock %}
