<nav class="navbar navbar-expand-lg bg-light border border-bottom" aria-label="Light offcanvas navbar">
  <div class="container">
    <a class="navbar-brand" href="{% url 'blog:home' %}">Tomar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarLight"
      aria-controls="offcanvasNavbarLight">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbarLight"
      aria-labelledby="offcanvasNavbarLightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLightLabel">Tomar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item mx-md-2">
            <a class="nav-link active" aria-current="page" href="{% url 'blog:post_list' %}">Stories</a>
          </li>
          <li class="nav-item mx-md-2">
            <a class="nav-link" href="{% url 'blog:post_create' %}">Write</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown mx-md-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><i class="fa-regular fa-pen-to-square me-2"></i>Draft</a></li>
              <li><a class="dropdown-item" href="{% url 'accounts:saved_post' user.username %}"><i
                    class="fa-regular fa-bookmark me-2"></i>Saved</a></li>
              <li><a class="dropdown-item" href="#"><i class="fa-regular fa-user me-2"></i>Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'account_logout' %}"><i
                    class="fa-solid fa-arrow-right-from-bracket me-2"></i>Sign out</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item mx-md-2">
            <a class="nav-link" href="{% url 'account_login' %}">Sign in</a>
          </li>
          <li class="nav-item mx-md-2">
            <a class="nav-link btn btn-primary text-white" href="{% url 'account_signup' %}">Sign up</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
