{% extends "base.html" %}
{% load static %}

{% load post_read_time %}

{% block title %} Saved Posts {% endblock %}

{% block content %}

<div class="container-fluid main">
  <div class="container px-md-5 pt-5">
    <div class="row">
      <div class="col-lg-8">
        <h5 class="mb-4">My Bookmarks</h5>
        {% if bookmarks|length > 0 %}

        {% for bookmark in bookmarks %}
        <div class="card mb-4">
          <div class="card-body">
            <h4 class="card-title mb-0">
              <a href="{% url 'blog:post_detail' bookmark.post.slug %}">{{ bookmark.post.title|truncatechars:80 }}</a>
            </h4>
            <div class="small text-muted">
              <a href="#" class="author-link">{{ bookmark.post.author.get_full_name }}</a>
              <a class="category" href="{% url 'blog:category' bookmark.post.category.slug %}">in
                <strong>{{ bookmark.post.category }}</strong></a>
              <span>&nbsp;|&nbsp;</span>
              <span>{{ bookmark.post.modified_at|date:"M d" }}</span><span
                class="dot"></span><span>{{ bookmark.post.content|readtime }}</span>
            </div>
            <p class="card-text mt-1 text-muted">{{ bookmark.post.content|truncatechars_html:130|safe }}</p>
            <div class="d-flex justify-content-between">
              <a href="{% url 'blog:post_detail' bookmark.post.slug %}" class="read-more">Read more
                <span>&rarr;</span></a>

              {% csrf_token %}
              <button class="bookmark" value="{{ bookmark.post.pk }}" title="Bookmark story">
                <i class="fas fa-bookmark"></i>

              </button>
            </div>
          </div>
        </div>
        {% endfor %}
        <br>
        <!-- Pagination -->
        {% if bookmarks|length > 10 %}
        {% include "pagination.html" %}
        {% endif %}
        <!-- End pagination -->
        {% else %}
        <p>You don't have any saved posts. Click the bookmark icon to save posts.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  // Change active nav element dynamically based on the URL
  $(document).ready(function () {
    const currentUrl = location.pathname;
    $(".navbar-nav li").find("a.active").removeClass("active");
    $(".navbar-nav li").find("a.active").removeAttr("aria-current");
    $('.navbar-nav li a[href="' + currentUrl + '"]').addClass('active');
    $('.navbar-nav li a[href="' + currentUrl + '"]').attr("aria-current", "page");
  });
</script>
{% endblock %}
